

body{
    margin: 0%;
    padding: 0%;
    background-color: wheat;
}

h1{
    margin:0%;
    padding: 3%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 300%;
}

header{
    margin: 0%;
}

nav{
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color:black ;
}

nav a{
    color:white;    
    flex-grow: 1;
    text-align: center;
    font-size: 125%;
    text-decoration: none;
    transition: background-color 0.2s;
}

nav a:hover{
    background-color: grey;
}

.navActual{
    background-color: grey;
}

h2{
    text-align: center;
}

h3{
    padding-left: 5%;
}

p{
    padding-left: 0%;
    margin-left: 5%;
    padding-right: 0%;
    margin-right: 5%;
    font-size: 115%;
    text-align: justify;
}

p span{
    background-color: orange;
}
div{
    display: flex;
    flex-wrap: wrap;
}

.contenedor{
    align-self: center;
    justify-content: center;
}

.botton{
    background-color: black; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    padding-top: 18%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;
}

#carrousel{
    transform: scale(1);
}
div img{
    margin: 1%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 45%;
    height: auto;
    transition: transform 0.3s;
}

img:hover{
    transform: scale(1.2);
}

.videoTitle{
    font-size: 150%;
    padding-left: 45%;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-bottom: 0%;
    background-color: black;
    color:white;
   
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    margin-bottom: 0%;
    background-color: black;
}
